{% extends 'base.html.twig' %}

{% block title %}
	{{lieu.name}}
{% endblock %}

{% block body %}
	<body id='homeNationSound'>
		<header class='container pt-5 px-4 px-lg-0'>
			<h1 class='text-white text-center title mb-4'>
				Details de
				{{lieu.name}}
			</h1>
			<hr>
		</header>
		<section class='container'>
			<section class='my-3'>{% include '_partials/_dashboardNationSound.html.twig' %}</section>
			<section class="row pt-4">
				<article class='d-flex'>
					<div class='col-4 px-3 sectionHomeNationSound featuredimageArtiste' style="background-image:url('{{asset('assets/uploads/lieu/' ~ lieu.featuredImage)}}')"></div>
					<div class='col-8 px-3'>
						<h2 class='h1 text-white fw-bold'>{{lieu.name}}</h2>
						<hr>
						<p class='text-white'>
							<span class='h4 fw-bold'>Description :
							</span>
							{{lieu.description}}</p>
						<p class='text-white'>
							<span class='h4 fw-bold'>Point gps :
							</span><br>
							Latitude :
							{{lieu.GPSPtLat}}
							<br>
							Longitude :
							{{lieu.GPSPtLat}}</p>
					</div>
				</div>
			</body>
		</body>
	</body>
</section></section></body>{% endblock %}
