{% extends 'base.html.twig' %}

{% block title %}Reponse requetes
{% endblock %}

{% block body %}
	<header class='container pt-5 pb-lg-4 px-5 px-lg-0'>
		<article class='row'>
			<h1 class='fw-bold col ps-0'>Reponse à la requête {{requete.id}}</h1>
			<hr>
		</article>
	</header>
	<section class="container mt-4">
		<section class="row mx-3 mx-lg-0">
			<div class="col-12">
				<section class="border rounded p-4">
					<h3>Rappel de la requete</h3>
					<hr>
					<p>Identifiant de la requete :
						{{requete.id}}</p>
					<p>Adresse mail :
						{{requete.email}}</p>
					<p>Nom et pernom de l'envoyant :
						{{requete.lastname}}
						{{requete.firstname}}</p>
					<p>Motif de la requête :
						{{requete.motif}}</p>
					<p>Contenu de la requête :
						<br>
						{{requete.content}}</p>
				</section>
				<section class='mt-4'>
					<h3 class='fw-bold'>Réponse</h3>
					{{ form_start(response) }}
					{{ form_end(response) }}
				</section>

			</div>
		</section>
	</section>
{% endblock %}
