{% extends 'base.html.twig' %}

{% block title %}Evènements
{% endblock %}

{% block body %}
	<header class='container pt-5 pb-4'>
		<article class='row'>
			<h1 class='fw-bold col ps-0'>Liste de tous les evenements
				{% if slug is defined %}
					de la category
					{{slug}}
				{% endif %}
			</h1>
			<hr>
		</article>
		<a class='btn btn-primary row' href="{{path('app_editEvent')}}">Crée un nouveau évènement</a>
	</header>
	{% if events is not empty %}
		<main class='container-fluid'>
			<section class="row">
				{% for event in events %}
					<article class="col-12 px-0">
						<section class='py-4 bgImg' {% if event.imageEvents is not empty %} style="background-image:url('{{asset('assets/uploads/evenements/diapo/')}}{{event.imageEvents[0].name}}')" id='imageArticle' {% endif %}></section>
						<section class='text-white fw-bold bgText'>
							<h2 class='fw-bold h1'>{{event.name}}</h2>
							<p class='textIntro'>{{event.introduction}}</p>
							<section class='pb-2'>
								<a href="{{path('app_detailEvent', {id:event.id})}}" class='text-decoration-none '>
									<button class='btn btn-primary'>Voir plus de details</button>
								</a>
								<a href="{{path('app_editEvent', {id : event.id})}}" class='text-decoration-none'>
									<button class='btn btn-success'>Modifier</button>
								</a>
								<a class="text-decoration-none" href="#open-modal{{event.id}}">
									<button class='btn btn-danger'>Supprimer</button>
								</a>
								<div id="open-modal{{event.id}}" class="modal-window">
									<div class='text-black'>
										<a href="#" title="Fermer" class="modal-close btn-close"></a>
										<h3>Confirmation</h3>
										<hr>
										<p>Etes-vous sur de vouloir supprimer cet evenement ?</p>
										<hr>
										<section class='text-end'>
											<a href="{{path('app_deleteEvent', {id: event.id})}}" class='text-decoration-none'>
												<button class='btn btn-danger'>Supprimer</button>
											</a>
											<a href="#" title="Fermer" class="btn btn-secondary">Non</a>
										</section>
									</div>
								</div>
							</section>
						</section>
					</article>
				{% endfor %}
			</section>
			<div class="mt-3 d-flex justify-content-center">{{knp_pagination_render(events)}}</div>
		</main>
	{% else %}
		<article class='container py-4'>
			<p>Il n'y a pour l'instant aucun evenement</p>
			<p>Vous pouvez commencer à crée en cliquant sur le bouton ci dessus</p>
		</article>
	{% endif %}
{% endblock %}
