{% extends 'base.html.twig' %}

{% block title %}
	{{sponsor.name}}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<div class="row">
			<article class="col">
				<h1 class='fw-bold'>{{sponsor.name}}</h1>
				<hr>
				<article class='mt-4 d-lg-flex border rounded-top py-4'>
					<img src="{{asset('assets/uploads/sponsors/' ~ sponsor.logo)}}" class='float-start mx-3' width='300' alt="logopartenaire">
					<p class='px-3'>{{sponsor.description}}</p>
				</article>
			</article>
		</div>
	</section>
	{% if sponsor.imageSponsors is not empty %}
	<section class="container mx-auto">
		<div id="carouselArticle" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for image in sponsor.imageSponsors %}
					<div class=" carousel-item {{ (loop.first ) ? 'active' : '' }}">
						<img src="{{asset('assets/uploads/sponsors/diapo/' ~ image.name)}}" class="d-block w-100 " alt="...">
					</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselArticle" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselArticle" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>
	{% endif %}
{% endblock %}
