{% extends 'base.html.twig' %}

{% block title %}Journée
{% endblock %}

{% block body %}
	<body id='homeNationSound'>
		<header class='container pt-5 px-4 px-lg-0'>
			<h1 class='text-white text-center title mb-4'>
				Toutes les journees
			</h1>
			<hr>
		</header>
		<section class='container'>
			<section class="row">
				<div class='my-3'>
					{% include '_partials/_dashboardNationSound.html.twig' %}
					<a href="{{path('nationSound_editJour')}}" class='btn btn-success'>Ajouter une journée</a>
				</div>
				{% if days is not empty %}
					<section class='d-flex justify-content-around flex-wrap mb-5'>
						{% for day in days %}
							<article class='card p-0 border-0 rounded col-8 m-3'>
								<div class="card-body d-flex flex-column justify-content-between">
									<article class='d-flex justify-content-between mt-2 '>
										<h3 class="card-title fw-bold ms-2 mb-0 ">{{day.name}}
										</h3>
										<h5 class='mb-0 pt-1'>{{day.date|date("d/m/Y")}}</h5>
										<div>
											<a href="{{path('nationSound_editJour', {id : day.id})}}" class="btn btn-success mb-1">Modifier</a>
											<a href="{{path('nationSound_deleteJour', {id : day.id})}}" class="btn btn-danger mb-1">Supprimer</a>
										</div>
									</article>
									<hr>
									<table class='mx-3 mb-3'>
										<tr>
											<th>Episode</th>
											<th>Heure</th>
											<th>Artiste</th>
											<th>Scene</th>
											<th></th>
										</tr>
										{% for epi in day.episode %}
											<tr>
												<td>{{epi.name}}</td>
												<td>{{epi.hour|format_datetime('none', 'short', locale='fr')}}</td>
												<td>{{epi.artiste}}</td>
												<td>{{epi.scene}}</td>
												<td>
													<a href="{{path('nationSound_joureditEpisode', {id : epi.id})}}" class='btn btn-sm btn-primary'>Modifier</a>
													<button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{epi.id}}">
														Supprimer
													</button>
												</td>
											</tr>
											<!-- Modal -->
											<div class="modal fade" id="exampleModal{{epi.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered">
													<div class="modal-content">
														<div class="modal-header">
															<h1 class="modal-title fs-3 fw-bold" id="exampleModalLabel">Attention</h1>
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body">
															<p>Si vous voulez seulement Retirer l'épisode de la journée, clicker sur
																<span class='text-warning'>"Retirer"</span>
															</p>
															<p>Si vous voulez supprimer définitivement l'épisode, clicker alors sur
																<span class='text-danger'>"Supprimer"</span>
															</p>
														</div>
														<div class="modal-footer">
															<a href="{{path('nationSound_withdrawEpisode', {id : epi.id})}}" class='btn btn-warning'>Retirer</a>
															<a href="{{path('nationSound_deleteEpisode', {id : epi.id})}}" class='btn btn-outline-danger'>Supprimer</a>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</table>
									<div class=''>
										<a href="{{path('nationSound_addEpisodeJour', {id : day.id})}}" class="btn btn-success">Ajouter un episodes</a>
									</div>
								</div>
							</article>

						{% endfor %}
					</section>
				{% else %}
					<p>Il n'y a pour le moment aucun artiste</p>
				{% endif %}
			</section>
		</section>
	</body>
{% endblock %}
