{% extends 'base.html.twig' %}

{% block title %}
	page
	{{title}}
{% endblock %}

{% block body %}
	<body id='homeNationSound'>
		<header class='container pt-5 px-4 px-lg-0'>
			<h1 class='text-white text-center title mb-4'>
				Page
				{{title}}
			</h1>
			<hr>
			<div class='my-3'>
				{% include '_partials/_dashboardNationSound.html.twig' %}
			</div>
		</header>
		{# //section pour le contenu de la page #}
		<section class='container mt-3 border rounded py-3'>
			<h2 class='text-center fw-bold text-white mt-2'>Section pour le header</h2>
			{% if page is not empty %}
				<section class="row">
					<div class='my-3'>
						<a href="{{path('nationSound_contenu_edit',{name:pageDefaultName, id:page.id})}}" class='btn btn-success'>Modifier</a>
					</div>
					<article>
						{# section pour l'image #}
						<h3 class='text-center text-white fw-bold h2 pt-4'>Image de haut</h3>
						{% if page.headerImage is not empty%}
							<div class='col-4 px-3 sectionHomeNationSound imgHeader border border-black rounded' style="background-image:url('{{asset('assets/uploads/figure/' ~ page.headerImage)}}')"></div>
						{% else %}
							<p>Il n'y a aucune Image pour le moment</p>
						{% endif %}
						{# section pour le contenu #}
						<h3 class='text-center text-white fw-bold h2 pt-4'>Text de haut</h3>
						{% if page.headerText %}
							<p class='border border-black rounded p-3 fs-5 text bg-white'>{{page.headerText}}</p>
						{% else %}
							<p>Il n'y a aucun text pour le moment</p>
						{% endif %}
					</article>
				</section>
			{% else %}
				<section class='container'>
					<section class="row">
						<div class='my-3'>
							<a href="{{path('nationSound_contenu_edit',{name:pageDefaultName})}}" class='btn btn-success'>Rediger</a>
						</div>
						<section>
							<p class='text-white'>Cette page n'existe pas encore, clicker sur
								<span class='text-primary'>Rediger</span>
								pour commencer</p>
						</section>
					</section>
				</section>
			{% endif %}
		</section>

		<section
			class='container my-3 border rounded py-3'>
			{# //section pour le contenu de les sponsor #}
			{% if sponsors is defined %}
				{% if sponsors is not empty%}
					<h2 class='text-center fw-bold text-white mt-2'>Section pour les sponsors</h2>
					<section class='container'>
						<section class="row">
							<div class='my-3'>
								<a href="{{path('nationSound_contenu_sponsor_edit')}}" class='btn btn-success'>Ajouter</a>
							</div>
							<section class='d-flex justify-content-around flex-wrap'>
								{% for sponsor in sponsors %}
									<article class='card p-0 border-0 rounded col-3 m-3'>
										<div style="background-image:url('{{asset('assets/uploads/sponsors/' ~ sponsor.logo)}}')" class='sectionHomeNationSound imgCard rounded-top'></div>
										<div class="card-body d-flex flex-column justify-content-between">
											<h5 class="card-title text-center m-0">{{sponsor.name}}</h5>
											<hr>
											<div class='align-self-end '>
												<a href="{{path('nationSound_contenu_sponsor_details', {id : sponsor.id})}}" class="btn btn-primary">Details</a>
												<a href="{{path('nationSound_contenu_sponsor_edit', {id : sponsor.id})}}" class="btn btn-success">Modifier</a>
												<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{sponsor.id}}">
													Supprimer
												</button>
											</div>
										</div>
									</article>
									<div class="modal fade" id="exampleModal{{sponsor.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel">Attention</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													Etes vous sûr de vouloir supprimer definitivement ce sponsor ? Si oui clicker sur
													<span class='text-danger'>'Supprimer'</span>
												</div>
												<div class="modal-footer">
													<a href="{{path('nationSound_contenu_sponsor_delete', {id : sponsor.id})}}" class="btn btn-danger">Supprimer</a>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</section>
						</section>
					</section>
				{% else %}
					<header class='container pt-5 px-4 px-lg-0'>
						<h1 class='text-white text-center title mb-4'>
							Page
							{{title}}
						</h1>
						<hr>
					</header>
					<section class='container'>
						<section class="row">
							<div class='my-3'>
								<a href="{{path('nationSound_contenu_sponsor_edit')}}" class='btn btn-success'>Rediger</a>
							</div>
							<section>
								<p class='text-white'>Il n'y a aucun sponsor pour cette evenement, clicker sur
									<span class='text-primary'>Rediger</span>
									pour commencer</p>
							</section>
						</section>
					</section>
				{% endif %}
			{% endif %}

			{# //section pour le contenu de le programme #}
			{% if days is defined %}
				<h2 class='text-center fw-bold text-white mt-2 mb-4'>Section pour le programme</h2>
				{% include '_partials/admin/NationSound/_dayProgramme.html.twig' %}
			{% endif %}


			{# //section pour le contenu de les articles #}
			{% if articles is defined %}
				{% if articles is not empty%}
					<h2 class='text-center fw-bold text-white mt-2'>Section pour les articles</h2>
					<section class='container'>
						<section class="row">
							<div
								class='my-3'>{# <a href="{{path('nationSound_contenu_sponsor_edit')}}" class='btn btn-success'>Ajouter</a> #}
							</div>
							<section class='d-flex justify-content-around flex-wrap'>
								{% for article in articles %}
									<article class='card p-0 border-0 rounded col-3 m-3'>
										<div style="background-image:url('{{asset('assets/uploads/articles/' ~ article.featuredImage)}}')" class='sectionHomeNationSound imgCard rounded-top'></div>
										<div class="card-body d-flex flex-column justify-content-between">
											<h5 class="card-title text-center m-0">{{article.title}}</h5>
											<hr>
											<div class='align-self-end '>
												<a href="{{path('app_article_details', {slug : article.slug})}}" class="btn btn-primary">Details</a>
												<a href="{{path('app_editArticle', {id : article.id})}}" class="btn btn-success">Modifier</a>
												<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{article.id}}">
													Supprimer
												</button>
											</div>
										</div>
									</article>
									<div class="modal fade" id="exampleModal{{article.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel">Attention</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<p>Vous etes sur le point de retiré cette article de la section. Cela aura pour effet de délier l'article au l'évènement nation sound, en conséquant elle ne serat pas supprimer mais ne serat plus visible ici et sur l'application mobile. Continué en cliquant sur
														<span class='text-danger'>'Supprimer'</span>
													</p>
												</div>
												<div class="modal-footer">
													<a href="{{path('nationSound_contenu_actualite_article_withdraw', {id : article.id})}}" class="btn btn-danger">Supprimer</a>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</section>
						</section>
					</section>
				{% else %}
					<h2 class='text-center fw-bold text-white mt-2'>Section pour les articles</h2>
					<section class='container'>
						<section class="row">
							<section>
								<p class='text-white'>Il n'y a aucun article faisant référence à l'évènement, il vous faut soit rédiger un nouveau dans la section dédié, soit modifié un article.</p>
							</section>
						</section>
					</section>
				{% endif %}
			{% endif %}


			{# //section pour le contenu des billet #}
			{% if billets is defined %}
				{% if billets is not empty%}
					<h2 class='text-center fw-bold text-white mt-2'>Section pour les billet</h2>
					<section class='container'>
						<section class="row">
							<div class='my-3'>
								<a href="{{path('nationSound_contenu_billetterie_edit')}}" class='btn btn-success'>Ajouter</a>
							</div>
							<section class='d-flex justify-content-around flex-wrap'>
								{% for billet in billets %}
									<article class='card p-0 border-0 rounded col-3 m-3'>
										<div style="background-image:url('{{asset('assets/uploads/billet/' ~ billet.featuredImage)}}')" class='sectionHomeNationSound imgCard rounded-top'></div>
										<div class="card-body d-flex flex-column justify-content-between">
											<h5 class="card-title text-center m-0">{{billet.name}}</h5>
											<hr>
											<div class='align-self-end '>
												<a href="{{path('nationSound_contenu_billetterie_details', {id : billet.id})}}" class="btn btn-primary">Details</a>
												<a href="{{path('nationSound_contenu_billetterie_edit', {id : billet.id})}}" class="btn btn-success">Modifier</a>
												<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{billet.id}}">
													Supprimer
												</button>
											</div>
										</div>
									</article>
									<div class="modal fade" id="exampleModal{{billet.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel">Attention</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													Etes vous sûr de vouloir supprimer definitivement ce billet ? Si oui clicker sur
													<span class='text-danger'>'Supprimer'</span>
												</div>
												<div class="modal-footer">
													<a href="{{path('nationSound_contenu_billetterie_delete', {id : billet.id})}}" class="btn btn-danger">Supprimer</a>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</section>
						</section>
					</section>
				{% else %}
					<h2 class='text-center fw-bold text-white mt-2'>Section pour les billets</h2>
					<section class='container'>
						<section class="row">
							<div class='my-3'>
								<a href="{{path('nationSound_contenu_billetterie_edit')}}" class='btn btn-success'>Rediger</a>
							</div>
							<section>
								<p class='text-white'>Il n'y a aucun billet pour cette evenement, clicker sur
									<span class='text-primary'>Rediger</span>
									pour commencer</p>
							</section>
						</section>
					</section>
				{% endif %}
			{% endif %}
		</section>


		{% if FAQs is defined %}
			<section
				class='container my-3 border rounded py-3'>
				{# //section pour le contenu de la page information #}
				{% if FAQs is not empty%}
					<h2 class='text-center fw-bold text-white mt-2'>Section pour la FAQ</h2>
					<section class='container'>
						<section class="row">
							<div class='my-3'>
								<a href="{{path('nationSound_contenu_actualite_edit')}}" class='btn btn-success'>Ajouter</a>
							</div>
							<section class='d-flex justify-content-around flex-wrap'>
								{% for faq in FAQs %}
									<article class='card p-0 border-0 rounded col-12 m-3'>
										<div class="card-body d-flex flex-column justify-content-between">
											<h5 class="card-title text-center m-0">Question :
												{{faq.question}}</h5>
											<hr>
											<h5 class="card-title text-center m-0">Reponse :
												{{faq.answer}}</h5>
											<hr>
											<div class='align-self-end '>
												<a href="{{path('nationSound_contenu_actualite_edit', {id : faq.id})}}" class="btn btn-success">Modifier</a>
												<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{faq.id}}">
													Supprimer
												</button>
											</div>
										</div>
									</article>
									<div class="modal fade" id="exampleModal{{faq.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel">Attention</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													Etes vous sûr de vouloir supprimer definitivement cette question/reponse ? Si oui clicker sur
													<span class='text-danger'>'Supprimer'</span>
												</div>
												<div class="modal-footer">
													<a href="{{path('nationSound_contenu_actualite_delete', {id : faq.id})}}" class="btn btn-danger">Supprimer</a>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</section>
						</section>
					</section>
				{% else %}
					<h2 class='text-center fw-bold text-white mt-2'>Section pour la FAQ</h2>
					<section class='container'>
						<section class="row">
							<div class='my-3'>
								<a href="{{path('nationSound_contenu_information_edit')}}" class='btn btn-success'>Rediger</a>
							</div>
							<section>
								<p class='text-white'>Il n'y a aucune FAQ, clicker sur
									<span class='text-primary'>Rediger</span>
									pour commencer</p>
							</section>
						</section>
					</section>
				{% endif %}
			</section>
		{% endif %}
		<section class='container my-3 border rounded py-3'>
			{% if page.pageSections is not empty%}
				<h2 class='text-center fw-bold text-white my-2'>Autre section</h2>
				{% for section in page.pageSections %}
					<article class='border border-black rounded px-3 my-4'>
						<div class='my-3'>
							<a href="{{path('nationSound_contenu_edit_section', {name:pageDefaultName, id : section.id})}}" class='btn btn-success'>Modifier</a>
						</div>
						<pre>
							{{ dump(pageDefaultName) }}
						</pre>
						<h3 class='text-center fw-bold text-white mt-2'>{{section.title}}</h3>
						<p class='border border-black rounded p-3 fs-5 text bg-white'>{{section.content}}</p>
					</article>
				{% endfor %}
			{% endif %}
			<div class='my-3'>
				<a href="{{path('nationSound_contenu_edit_section',{name:pageDefaultName})}}" class='btn btn-success'>Rediger</a>
			</div>
			<section>
				<p class='text-white'>Ajouter une nouvelle section ? Clicker sur
					<span class='text-primary'>Rediger</span>
					pour commencer</p>
			</section>
		</section>
	</body>
{% endblock %}
