{% extends 'base.html.twig' %}

{% block title %}Page de test
{% endblock %}

{% block body %}
	<header class='container pt-5 pb-4'>
		<article class='row'>
			<h1 class='fw-bold col ps-0'>Liste de tous les categories</h1>
			<hr>
		</article>
		<a class='btn btn-primary row' href="">Rédiger une nouvelle category</a>
	</header>
	<main class='container-fluid'>
		<section class="row">
			<pre>
				{{ dump(articles) }}
			</pre>
			{% if articles is not empty %}
				<main class='container-fluid '>
					<section class="row">
						{% for article in articles %}
							<a href="{{path('app_article_details', {slug: article.slug})}}" class='col-12 px-0 articleHover text-decoration-none'>
								<section class='py-4 bgImg' {% if article.images is not empty %} style="background-image:url('{{asset('assets/uploads/articles/diapo/')}}{{article.images[0].name}}')" {% endif %}></section>
								<section class='text-white bgText'>
									<h2 class='px-3 text-white fw-bolder'>{{article.title}}</h2>
									<p class='px-3 text-white'>{{article.introduction}}</p>
									<p class='px-3 text-white'>Category :
										{{article.categories.name}}</p>
									<p class='px-3 text-white'>Publier le
										{{article.createdAt|date("d/m/Y")}}
										/ par :{{article.author}}</p>
								</section>
							</a>
						{% endfor %}
					</section>
				</main>
			{% endif %}

		</section>
	</main>
{% endblock %}
