{% extends 'base.html.twig' %}

{% block title %}Edition article
{% endblock %}

{% block body %}
	<header class='container pt-5 pb-4 px-5 px-lg-0'>
		<article class='row'>
			<h1 class='fw-bold col ps-0'>Edition d'un article</h1>
			<hr>
		</article>
	</header>
	<section class="container px-5 px-lg-0">
		<section class="row">
			<article class="col-12 px-0">
				{{ form_start(articleForm) }}
				<section>
					{{ form_row(articleForm.title) }}
				</section>
				<section>
					{{ form_row(articleForm.introduction) }}
				</section>
				<section>
					{{ form_row(articleForm.content) }}
				</section>

				{# section pour featuredimage #}
				<section>
					{{ form_label(articleForm.featuredImage, 'Image en avant' ) }}
					<span>
						<i class="fa-solid fa-info ms-2 mb-2 btn btn-sm border" type="button" data-bs-toggle="modal" data-bs-target="#imagesPrincipalModal"></i>
						<section class="modal fade" id="imagesPrincipalModal" tabindex="-1" aria-labelledby="imagesPrincipalModal" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-xl">
								<div class="modal-content">
									<article class="modal-header ">
										<h3 class="modal-title fs-3 fw-bold" id="imagesPrincipalModal">Information</h3>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</article>
									<article class="modal-body">
										<h4 class='fw-bold'>Ce champ permet d'ajouter une image principale à votre article</h4>
									</article>
									<section class="modal-footer">
										<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
									</section>
								</div>
							</div>
						</section>
					</span>
					{{ form_row(articleForm.featuredImage) }}
					{% if new is same as(false) %}
						{% if article.featuredImage is not empty %}
							<h4>Image en avant :</h4>
							<section class='border rounded mb-3 d-inline-flex'>
								<div class='m-3 row'>
									<img src="{{asset('assets/uploads/articles/' ~ article.featuredImage) }}" alt="image.name" class='p-0 rounded' style="width:300px">
								</div>

							</section>
						{% else %}
							<p>Auncune image pour cette articles</p>
						{% endif %}
					{% endif %}
				</section>

				{# section pour les images #}
				<section>
					{{ form_label(articleForm.images, 'Images' ) }}
					<span>
						<i class="fa-solid fa-info ms-2 mb-2 btn btn-sm border" type="button" data-bs-toggle="modal" data-bs-target="#imagesModal"></i>
						<section class="modal fade" id="imagesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-xl">
								<div class="modal-content">
									<article class="modal-header ">
										<h3 class="modal-title fs-3 fw-bold" id="exampleModalLabel">Information</h3>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</article>
									<article class="modal-body">
										<h4 class='fw-bold'>Ce champ permet d'ajouter des images au diaporama de votre article</h4>
										<br>
										<h5 class='text-decoration-underline'>Attention :</h5>
										<p>Il est fortement conseillé d'ajouter des images au format 16:9. Autrement dit, le format des images doit être de 1024x576 (L*h).</p>
										<p>Néanmoins, si le format n'est pas respecté :
										</p>
										<ul>
											<li>Les images trop grandes seront rognées au format 16:9</li>
											<li>Les images trop petites seront bordées de bandes noires</li>
										</ul>
										<p>Si vous n'avez pas d'image(s) au bon format, vous pouvez vous rendre sur ce site qui permet de redimentionner les images au format desiré :
											<a href="https://www.resizepixel.com/f" target="blank">ResizePixel</a>
										</p>
										<p>Conseille : si vous choisissez cette solution, pour un meilleur rendu il est préférable de selectionner le paramètre 'largeur' à 1024, et laisser la hauteur se régler automatiquement.</p>
									</article>
									<section class="modal-footer">
										<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
									</section>
								</div>
							</div>
						</section>
					</span>
					{{ form_row(articleForm.images) }}
					{% if new is same as(false) %}
						{% if article.images is not empty %}
							<h4>Images :</h4>
							<section class='d-inline-flex flex-wrap justify-content-center border rounded mb-3'>
								{% for image in article.images %}
									<div class='m-3 d-flex flex-column '>
										<img src="{{asset('assets/uploads/articles/diapo/' ~ image.name) }}" alt="image.name" class='p-0 rounded-top' style="width:400px">
										<a href="{{path('app_delete_article_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" class='rounded-bottom bg-danger text-decoration-none text-white p-1 text-center'>Supprimer</a>
									</div>
								{% endfor %}
							</section>
						{% else %}
							<p>Auncune image pour cette articles</p>
						{% endif %}
					{% endif %}
				</section>

				<section>
					{{ form_label(articleForm.video, 'Video' ) }}
					<span>
						<i class="fa-solid fa-info ms-2 mb-2 btn btn-sm border" type="button" data-bs-toggle="modal" data-bs-target="#videoModal"></i>
						<section class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-xl">
								<div class="modal-content">
									<article class="modal-header ">
										<h3 class="modal-title fs-3 fw-bold" id="exampleModalLabel">Information</h3>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</article>
									<article class="modal-body">
										<h4 class='fw-bold'>Ce champ permet d'ajouter une video à votre article</h4>
										<br>
										<h5>Attention :</h5>
										<p>Veuillez rentrer le lien vers une vidéo existante.</p>
										<p>Exemple : https://www.youtube.com/watch?v=jYwrz7muVw8&t=2011s</p>
									</article>
									<section class="modal-footer">
										<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
									</section>
								</div>
							</div>
						</section>
					</span>
					{{ form_row(articleForm.video) }}
				</section>

				<section>
					{{ form_row(articleForm.categories) }}
				</section>
				<section>
					{{ form_row(articleForm.relatedEvent) }}
				</section>
				{% if new %}
					<section class='container border rounded p-4 my-4'>
						{{ form_row(articleForm.Valider) }}
						{{ form_row(articleForm.Subject) }}
						{{ form_row(articleForm.Content) }}
					</section>
				{% else %}
					<section class='d-none'>
						{{ form_row(articleForm.Valider) }}
						{{ form_row(articleForm.Subject) }}
						{{ form_row(articleForm.Content) }}
					</section>
				{% endif %}
				{{ form_end(articleForm) }}
			</section>
		</article>
	</section>
{% endblock %}
{% block javascripts %}
	<script src='{{asset('assets/js/images.js')}}' defer></script>
{% endblock %}
