<h1>Message utilisateur</h1>
<p>
	<strong>Email de l'utilisateur :</strong>
	{{from}}</p>
<p>
	<strong>Prenom de l'utilisateur :</strong>
	{{firstname}}</p>
<p>
	<strong>Nom de l'utilisateur :</strong>
	{{lastname}}</p>
<p>
	<strong>Motif de la requete :</strong>
	{{motif}}</p>
<p>
	<strong>Contenu de la requete :</strong>
	<br>
	{{content}}</p>
